<%= render 'list', user: current_user, book: @book %>

<h1>Users</h1>
<% @users.each do |user| %>
  <div>
  <p>image</p>
    <%= image_tag user.get_profile_image %>
  
  <p>name</p>
    <span><%= user.name %></span>
    
  <%= link_to "Show",user_path(user.id) %>
 </div>
<% end %>