<div class="Notification">
 <% flash.each do |key, value| %>
 <%= content_tag :div, value, class: key %>
 <% end %>
</div>

<h1>welcome to <i class="fas fa-book"></i>bookers!!</h1>
<p>in <i class="fas fa-book"></i>Bookers</p>

<p>you can share and exchange your opinions,inpressions,and emotions<br>
   about various books!</p>
<button type="button" class="btn btn-info">   
 <%= link_to "Sign up", new_user_registration_path, class: 'nav-link text-light' %>
</button>

<button type="button" class="btn btn-success">
 <%= link_to "Log in", new_user_session_path, class: 'nav-link text-light' %>
</button>